<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <h1>AI Generator</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('essay_writer') }}">Essay Writer</a></li>
                <li><a href="{{ url_for('short_story') }}">Short Story</a></li>
                <!-- Uncomment once google unbans image gen for finland or if running locally
                <li><a href="{{ url_for('image_generation') }}">Image Generation</a></li> -->
                <li><a href="{{ url_for('text_summarizer') }}">Text Summarizer</a></li>
                <li><a href="{{ url_for('code_generation') }}">Code Generation</a></li>
                <li><a href="{{ url_for('chatbot') }}">Chatbot</a></li>
                <li><a href="{{ url_for('text_to_speech') }}">Text to Speech</a></li>
                <li><a href="{{ url_for('speech_to_text') }}">Speech to Text</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; Made by Kcoder</p>
    </footer>

    {% block extra_scripts %}{% endblock %}
</body>
</html>